body {
  margin: 0;
}
.main_container {
  background-color: red;
  height: 200px;
  width: 200px;
}
.container_main_body {
  padding: 20px 100px;
  background-color: rgba(207, 201, 201, 0.801);
}
.search_header_container {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #eed709e3;
}
.search_header_logo {
  min-width: 60px;
  margin-top: 5px;
  height: 40px;
  overflow: hidden;
  background-image: url("../assets/logo-mercado-libre.png");
  background-repeat: no-repeat;
}
.search_header_search {
  width: 60%;
}
.search_header_search_input {
  width: 80%;
}

.item {
  background-color: white;
  padding: 15px;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}
.item_picture {
  padding: 10px;
  width: 22%;
  max-width: 250px;
}
.item_picture_img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
}
.item_description {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 25px;
}
.item_price {
  font-size: 25px;
  margin-right: 30px;
}
.item_title {
  width: 350px;
  white-space: normal;
  font-size: 20px;
  overflow-wrap: break-word;
}
.item_price_shipping_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
